p{
  color: #808080

}
div{
  color: #FF1493
}
body{
  background-color: #000000
}
body{
  font-family: Arial

}
h1{
  color: #FF1493
}
h1{
  font-family:
}
h2{
  color: #808080
}
a{
  color: #FF1493
}
